 <!DOCTYPE html>
<html>
<head>
<title>FROM {{inventory_hostname}}</title>
</head>

<body>
  <p>Bonjour, Apprentissage de Ansible</p>
   from node {{inventory_hostname}} <br>
   {{ansible_hostname}} templating with jinja 2
</body>

</html> 
